description = "Footer Partial"

[staticMenu]
code = "main-menu"

[genericForm]
rules[name] = "required"
rules[email] = "required|email"
rules[comments] = "required"
rules_messages[required] = "Toto pole je povinné"
rules_messages[email] = "Zadejte platnou e-mailovou adresu"
messages_success = "Váš dotaz byl odeslán"
messages_errors = "Během odesílání dotazu došlo k chybě"
mail_enabled = 1
mail_subject = "Zpráva z kontaktního formuláře"
mail_recipients[] = "example@example.com"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[viewBag]
==
{# Footer Start #}
<footer>
    <div class="footer">
        <div class="container py-5">
            <div class="row">
                <!-- custom text -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget">
                        {% if this.theme.footer_title_type == 'text' %}
                            <h4 class="mb-4">{{ this.theme.footer_title_text }}</h4>
                        {% elseif this.theme.footer_title_type == 'image' %}
                            <img class="mb-4 w-100" src="{{ this.theme.footer_title_image|media }}"/>
                        {% endif %}
                        <span>{{ this.theme.footer_description|raw }}</span>
                    </div>
                </div>
                <!-- quick links -->
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget">
                        <h4 class="mb-4">{{ this.theme.company_name }}</h4>
                        <ul class="list-unstyled lh-35">
                            {% for item in staticMenu.menuItems %}
                                <li>
                                    <a href="{{ item.url }}">
                                        {{ item.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- quick contact -->
                <div class="col-lg-3 col-md-6 col-sm-6 ml-auto">
                    <div class="widget">
                        <h4 class="mb-4">{{ this.theme.quick_contact_title|_ }}</h4>
                        <p>
                            {{ this.theme.quick_contact_address_company_full_name }}
                            <br>
                            {{ this.theme.quick_contact_address_street }}
                            <br>
                            {{ this.theme.quick_contact_address_city }}, {{ this.theme.quick_contact_address_zip }}
                        </p>
                        <p>
                            <a href="mailto:{{ this.theme.quick_contact_email }}">
                                {{ this.theme.quick_contact_email }}
                            </a>
                            <br>
                            <a href="tel:{{ this.theme.quick_contact_phone }}">
                                {{ this.theme.quick_contact_phone }}
                            </a>
                        </p>
                    </div>
                </div>
                <!-- contact form -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="widget">
                        <h4 class="mb-4">{{ this.theme.contact_form_title|_ }}</h4>
                        {% component 'genericForm' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright py-4">
        <div class="container">
            <div class="row">
                <div class="{% if this.theme.social_media %}col-lg-6{% else %}col-lg-12{% endif %} justify-content-center">
                    <div class="copyright-text">
                        Created by <a class="jagulogo-jagu-line" href="http://jagu.cz/">Jagu s.r.o.</a>
                    </div>
                </div>
                {% if this.theme.social_media %}
                    <div class="col-lg-6 text-left text-lg-right justify-content-center">
                        <ul class="list-inline footer-socials">
                            {% for item in this.theme.social_media %}
                                <li class="list-inline-item">
                                    <a href="{{ item.link }}" target="_blank">
                                        <i class="{{ item.icon }} mr-2"></i>
                                        {{ item.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
{# Footer Close #}