description = "Header with TopBar and Navigation"

[staticMenu]
code = "main-menu"

[viewBag]
==
{# Header #}
{% import _self as nav %}
{% macro render_submenu(items) %}
    {% import _self as nav %}
    {% for item in items %}
        {% if item.items %}
            <li class="dropdown-submenu">
                <a href="{{ item.url }}"
                   data-toggle="dropdown"
                   class="dropdown-item dropdown-toggle"
                >
                    {{ item.title }}
                </a>
                <ul class="dropdown-menu border-0 shadow">
                    {{ nav.render_submenu(item.items) }}
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{{ item.url }}" class="dropdown-item">
                    {{ item.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}
<header class="navigation">
    {% if this.theme.social_media or this.theme.quick_contact_email or this.theme.quick_contact_phone %}
        <div class="header-top ">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    {% if this.theme.social_media %}
                        <div class="{% if this.theme.quick_contact_email or this.theme.quick_contact_phone %}col-lg-2 col-md-4{% else %}col-lg-12{% endif %}">
                            <div class="header-top-socials text-center text-lg-left text-md-left">
                                {% for item in this.theme.social_media %}
                                    <a href="{{ item.link }}" target="_blank">
                                        <i class="{{ item.icon }}"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if this.theme.quick_contact_email or this.theme.quick_contact_phone %}
                        <div class="{% if this.theme.social_media %}col-lg-10 col-md-8{% else %}col-lg-12{% endif %} text-center text-lg-right text-md-right">
                            <div class="header-top-info">
                                <a href="tel:{{ this.theme.quick_contact_phone }}">
                                    <i class="fa fa-phone mr-2"></i>
                                    {{ this.theme.quick_contact_phone }}
                                </a>
                                <a href="mailto:{{ this.theme.quick_contact_email }}">
                                    <i class="fa fa-envelope mr-2"></i>
                                    {{ this.theme.quick_contact_email }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <nav class="navbar navbar-expand-lg py-4 btco-hover-menu" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                {% if this.theme.header_logo_image %}
                    <img src="{{ this.theme.header_logo_image|media }}" height="{{ this.theme.header_logo_image_height }}" alt="Logo">
                {% endif %}
                {% if this.theme.header_logo_text %}
                    {{ this.theme.header_logo_text }}
                {% endif %}
            </a>

            <button class="navbar-toggler collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#main-menu"
            >
                <span class="fa fa-bars"></span>
            </button>

            <div id="main-menu" class="collapse navbar-collapse">
                {% if staticMenu.menuItems %}
                    <ul class="navbar-nav ml-auto">
                        {% for item in staticMenu.menuItems %}
                            {% if item.items %}
                                <li class="nav-item dropdown level-one-dropdown">
                                    <a href="{{ item.url }}"
                                       data-toggle="dropdown"
                                       class="nav-link dropdown-toggle"
                                    >
                                        {{ item.title }}
                                    </a>
                                    <ul class="dropdown-menu border-0 shadow">
                                        {% for subitem in item.items %}
                                            {% if subitem.items %}
                                                <li class="dropdown-submenu">
                                                    <a href="{{ subitem.url }}"
                                                       data-toggle="dropdown"
                                                       class="dropdown-item dropdown-toggle"
                                                    >
                                                        {{ subitem.title }}
                                                    </a>
                                                    <ul class="dropdown-menu border-0 shadow">
                                                        {{ nav.render_submenu(subitem.items) }}
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ subitem.url }}" class="dropdown-item">
                                                        {{ subitem.title }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ item.url }}" class="nav-link">
                                        {{ item.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
{# Header Close #}