description = "Essential Scripts"

[viewBag]
==
{# jQuery #}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
></script>

{# Scripts #}
<script src="{{ [
    '@framework',
    '@framework.extras',
    'assets/plugins/bootstrap/js/popper.js',
    'assets/plugins/bootstrap/js/bootstrap.min.js',
    'assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js',
    'assets/plugins/slick-carousel/slick/slick.min.js',
    'assets/plugins/counterup/jquery.waypoints.min.js',
    'assets/plugins/counterup/jquery.counterup.min.js',
    'assets/js/script.js',
    'assets/materialize/js/materialize.min.js'
]|theme }}"></script>

{# Google maps #}
<script src="https://maps.googleapis.com/maps/api/js?key={{ this.theme.gmap_api_key }}&callback=initMap"
        async
        defer
></script>

{% scripts %}
