description = "Essential Scripts"

[viewBag]
==
{# Scripts #}
<script src="{{ [
    'assets/plugins/jquery/jquery.js',
    '@framework',
    '@framework.extras',
    'assets/plugins/bootstrap/js/popper.js',
    'assets/plugins/bootstrap/js/bootstrap.min.js',
    'assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js',
    'assets/plugins/slick-carousel/slick/slick.min.js',
    'assets/plugins/counterup/jquery.waypoints.min.js',
    'assets/plugins/counterup/jquery.counterup.min.js',
    'assets/js/script.js',
    'assets/materialize/js/materialize.min.js'
]|theme }}"></script>

{# Google maps #}
<script src="https://maps.googleapis.com/maps/api/js?key={{ this.theme.gmap_api_key }}&callback=initMap"
        async
        defer
></script>
