.cards {
    .card {
        .card-img-top {
            width: 100%;
            background-image: url("https://placehold.it/640x480");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }

        .card-subtitle {
            color: $primary-color;
            margin-bottom: .5rem;
        }

        .card-text {
            p {
                font-size: 80%;
                line-height: 1.5;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.bottom-line {
            border-bottom: 2px solid $primary-color;
        }

        .card-footer {
            padding-top: 0;
            background-color: transparent;
            border-top: none;
        }
    }
}