$primary-color: $primary-color;
$secondary-color: $secondary-color;

$top-text-color: $top-text-color;
$top-background-color: $top-background-color;

$header-text-color: $header-text-color;
$header-background-color: $header-background-color;

$footer-text-color: $footer-text-color;
$footer-background-color: $footer-background-color;

$copyright-text-color: $copyright-text-color;
$copyright-background-color: $copyright-background-color;

$link-color: $link-color;

$light: #fff;
$black: #242424;

$light-grey: #f5f8f9;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$extra-font: 'Hind', serif;
