description = "Banner"

[viewBag]
==
<section class="banner {{ data.margin_top }} {{ data.margin_bottom }} {{ data.appearance }}">
    <div class="cta-block p-5 rounded {% if data.overlay %}overly-2{% endif %} {% if not data.full_width %}container{% endif %}"
            {% if data.background_type == 'image' %}
                {% if data.background_image %}
                    style="background-image: url('{{ data.background_image|media }}')"
                {% else %}
                    style="background-image: url('https://placehold.it/1280x300')"
                {% endif %}
            {% elseif data.background_type == 'color' and data.background_color %}
                style="background-color: {{ data.background_color }}"
            {% endif %}
    >
        <div class="container">
            <div class="row justify-content-center align-items-center ">
                <div class="col-lg-7">
                    <span class="text-color">{{ data.secondary_text }}</span>
                    <h2 class="mt-2 text-white">{{ data.primary_text }}</h2>
                </div>
                <div class="col-lg-4">
                    <a href="{{ data.button_link }}"
                       class="btn {{ data.button_size }} {% if data.appearance == 'primary' %}btn-main{% else %}btn-minor{% endif %} {% if data.rounded_button %}btn-round-full{% endif %} float-lg-right float-md-right float-sm-right"
                    >
                        {{ data.button_text }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>