description = "Button"

[viewBag]
==
<section class="button" style="background-color: {{ data.background }}">
    <div class="container d-flex {{ data.alignment }}">
        <a role="button"
           class="btn {{ data.size }} {% if data.rounded %}btn-round-full{% endif %} {{ data.appearance }} {{ data.margin_top }} {{ data.margin_bottom }}"
           href="{{ data.link }}"
        >
            {% if data.icon %}
                <i class="{{ data.icon }}"></i>
            {% endif %}
            {{ data.text }}
        </a>
    </div>
</section>