description = "Cards"

[viewBag]
==
<section class="cards {{ data.margin_top }} {{ data.margin_bottom }}"
         style="background-color: {{ data.background }}"
>
    <div class="container">
        <div class="row">
            {% for card in data.cards %}
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="card h-100 {% if data.bottom_line %}bottom-line{% endif %}">
                        <div class="card-img-top"
                             style="background-image: url('{{ card.image|media }}'); padding-bottom: {{ data.aspect_ratio }}"
                        ></div>
                        <div class="card-body">
                            {% if card.title %}
                                <h5 class="card-title">{{ card.title }}</h5>
                            {% endif %}

                            {% if card.subtitle %}
                                <p class="card-subtitle">{{ card.subtitle }}</p>
                            {% endif %}

                            {% if card.description %}
                                <span class="card-text">{{ card.description|raw }}</span>
                            {% endif %}

                            {% if card.button_link and card.button_text %}
                                <a href="{{ card.button_link }}" class="btn btn-small btn-round-full btn-main">
                                    {{ card.button_text }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>