description = "Default layout"

[viewBag]

[staticPage]
useContent = 0
default = 1

[uploadForm laOptikaReservationForm]
rules[first_name] = "required"
rules[last_name] = "required"
rules[email] = "required|email"
rules[phone] = "required"
rules[comment] = "required"
rules[date] = "required"
rules[time] = "required"
rules_messages[first_name.required] = "Pole \"vaše jméno\" je povinné"
rules_messages[last_name.required] = "Pole \"vaše příjmení\" je povinné"
rules_messages[email.required] = "Pole \"váš e-mail\" je povinné"
rules_messages[email.email] = "Zadaná e-mailová adresa není platná"
rules_messages[phone.required] = "Pole \"váš telefon\" je povinné"
rules_messages[comment.required] = "Pole \"poznámka\" je povinné"
rules_messages[date.required] = "Pole \"den rezervace\" je povinné"
rules_messages[time.required] = "Pole \"čas rezervace\" je povinné"
messages_success = "Váš dotaz byl odeslán"
messages_errors = "Během odesílání dotazu došlo k chybě"
mail_enabled = 1
mail_subject = "Zpráva z formuláře pro uchazeče"
mail_recipients[] = "example@example.com"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[uploadForm umabettoApplicantsForm]
rules[first_name] = "required"
rules[last_name] = "required"
rules[email] = "required|email"
rules[phone] = "required"
rules[comment] = "required"
rules[professions] = "required"
rules_messages[first_name.required] = "Pole \"vaše jméno\" je povinné"
rules_messages[last_name.required] = "Pole \"vaše příjmení\" je povinné"
rules_messages[email.required] = "Pole \"váš e-mail\" je povinné"
rules_messages[email.email] = "Zadaná e-mailová adresa není platná"
rules_messages[phone.required] = "Pole \"váš telefon\" je povinné"
rules_messages[comment.required] = "Pole \"poznámka\" je povinné"
rules_messages[professions.required] = "Pole \"profese\" musí mít alespoň jednu položku zaškrtnutou"
messages_success = "Váš dotaz byl odeslán"
messages_errors = "Během odesílání dotazu došlo k chybě"
mail_enabled = 1
mail_subject = "Zpráva z formuláře pro uchazeče"
mail_recipients[] = "info@umabetto.cz"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
mail_uploads = 1
uploader_enable = 1
uploader_multi = 1
placeholderText = "Klikněte pro nahrání souborů"
removeText = "Jste si jisti?"
maxSize = 5
fileTypes[] = "jpg"
fileTypes[] = "jpeg"
fileTypes[] = "bmp"
fileTypes[] = "png"
fileTypes[] = "webp"
fileTypes[] = "gif"
fileTypes[] = "svg"
fileTypes[] = "js"
fileTypes[] = "map"
fileTypes[] = "ico"
fileTypes[] = "css"
fileTypes[] = "less"
fileTypes[] = "scss"
fileTypes[] = "ics"
fileTypes[] = "odt"
fileTypes[] = "doc"
fileTypes[] = "docx"
fileTypes[] = "ppt"
fileTypes[] = "pptx"
fileTypes[] = "pdf"
fileTypes[] = "swf"
fileTypes[] = "txt"
fileTypes[] = "xml"
fileTypes[] = "ods"
fileTypes[] = "xls"
fileTypes[] = "xlsx"
fileTypes[] = "eot"
fileTypes[] = "woff"
fileTypes[] = "woff2"
fileTypes[] = "ttf"
fileTypes[] = "flv"
fileTypes[] = "wmv"
fileTypes[] = "mp3"
fileTypes[] = "ogg"
fileTypes[] = "wav"
fileTypes[] = "avi"
fileTypes[] = "mov"
fileTypes[] = "mp4"
fileTypes[] = "mpeg"
fileTypes[] = "webm"
fileTypes[] = "mkv"
fileTypes[] = "rar"
fileTypes[] = "xml"
fileTypes[] = "zip"

[uploadForm umabettoDemandForm]
rules[first_name] = "required"
rules[last_name] = "required"
rules[email] = "required|email"
rules[phone] = "required"
rules[address] = "required"
rules[service] = "required"
rules[comment] = "required"
rules[consent] = "required"
rules_messages[first_name.required] = "Pole \"vaše jméno\" je povinné"
rules_messages[last_name.required] = "Pole \"vaše příjmení\" je povinné"
rules_messages[email.required] = "Pole \"váš e-mail\" je povinné"
rules_messages[phone.required] = "Pole \"váš telefon\" je povinné"
rules_messages[address.required] = "Pole \"adresa realizace\" je povinné"
rules_messages[service.required] = "Pole \"poptávaná služba\" je povinné"
rules_messages[comment.required] = "Pole \"vaše poptávka\" je povinné"
rules_messages[consent.required] = "Souhlas se zpracováním osobních údajů musí být zaškrtnutý"
rules_messages[email] = "Zadaná e-mailová adresa není platná"
messages_success = "Váš dotaz byl odeslán"
messages_errors = "Během odesílání dotazu došlo k chybě"
mail_enabled = 1
mail_subject = "Zpráva z poptávkového formuláře"
mail_recipients[] = "info@umabetto.cz"
mail_uploads = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
uploader_enable = 1
uploader_multi = 1
placeholderText = "Klikněte pro nahrání souborů"
removeText = "Jste si jisti?"
maxSize = 5
fileTypes[] = "jpg"
fileTypes[] = "jpeg"
fileTypes[] = "bmp"
fileTypes[] = "png"
fileTypes[] = "webp"
fileTypes[] = "gif"
fileTypes[] = "svg"
fileTypes[] = "js"
fileTypes[] = "map"
fileTypes[] = "ico"
fileTypes[] = "css"
fileTypes[] = "less"
fileTypes[] = "scss"
fileTypes[] = "ics"
fileTypes[] = "odt"
fileTypes[] = "doc"
fileTypes[] = "docx"
fileTypes[] = "ppt"
fileTypes[] = "pptx"
fileTypes[] = "pdf"
fileTypes[] = "swf"
fileTypes[] = "txt"
fileTypes[] = "xml"
fileTypes[] = "ods"
fileTypes[] = "xls"
fileTypes[] = "xlsx"
fileTypes[] = "eot"
fileTypes[] = "woff"
fileTypes[] = "woff2"
fileTypes[] = "ttf"
fileTypes[] = "flv"
fileTypes[] = "wmv"
fileTypes[] = "mp3"
fileTypes[] = "ogg"
fileTypes[] = "wav"
fileTypes[] = "avi"
fileTypes[] = "mov"
fileTypes[] = "mp4"
fileTypes[] = "mpeg"
fileTypes[] = "webm"
fileTypes[] = "mkv"
fileTypes[] = "rar"
fileTypes[] = "xml"
fileTypes[] = "zip"

[emptyForm footerForm]
rules[name] = "required"
rules[email] = "required|email"
rules[comments] = "required"
rules_messages[name.required] = "Pole \"vaše jméno\" je povinné"
rules_messages[email.required] = "Pole \"váš e-mail\" je povinné"
rules_messages[comments.required] = "Pole \"vaše zpráva\" je povinné"
rules_messages[email] = "Zadaná e-mailová adresa není platná"
messages_success = "Váš dotaz byl odeslán"
messages_errors = "Během odesílání dotazu došlo k chybě"
mail_enabled = 1
mail_subject = "Zpráva z kontaktního formuláře"
mail_recipients[] = "example@example.com"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[localePicker]
forceUrl = 0
==
{##}
<!doctype html>
<html lang="{{ localePicker.activeLocale }}">
<head>
    {% partial 'site/meta.htm' %}
</head>

<body>
{% partial 'site/header.htm' %}

{% flash %}
    <p data-control="flash-message" data-interval="5" class="{{ type }}">{{ message }}</p>
{% endflash %}

<div class="main-wrapper">
    {repeater name="sections" groups="~/themes/jagu-mercurius-jagu-oc-theme/meta/blocks.yaml" tab="Blocks"}
    {variable name="_dummy" type="text"}{/variable}
    {/repeater}
    {% for section in sections %}
        {% partial 'blocks/' ~ section._group data=section %}
    {% endfor %}
    {% partial 'site/footer.htm' %}
</div>

{# JavaScripts #}
{% partial 'site/scripts.htm' %}

</body>
</html>