description = "Default layout"

[staticPage]
useContent = 0
default = 1
==
{##}
<!doctype html>
<html lang="en">
<head>
    {% partial 'site/meta.htm' %}
</head>

<body>
{% partial 'site/header.htm' %}
<div class="main-wrapper">
    {repeater name="sections" groups="~/themes/jagu-mercurius-jagu-oc-theme/meta/blocks.yaml" tab="Blocks"}
        {variable name="_dummy" type="text"}{/variable}
    {/repeater}
    {% for section in sections %}
        {% partial 'blocks/' ~ section._group data=section %}
    {% endfor %}
    {% partial 'site/footer.htm' %}
</div>

{# JavaScripts #}
{% partial 'site/scripts.htm' %}
</body>
</html>